@import '~bootstrap/scss/bootstrap';

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
    padding: 10px 0;
}

#root {
    background-color: lightgray;
    max-width: 710px;
    min-width: 375px;
    padding: 10px 0;
    border: solid black 3px;
    border-radius: 15px;


    #mainTitle-section {
        text-align: center;
        padding: 5px 15px;
        margin: 0 auto;
        background-color: white;
        width: fit-content;
        border-radius: 15px;
    }
    
    #mainContent-section {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        margin: 0 auto;
        padding:1rem;
        gap: 5px;
    
    
        #generationSettings-div {
            padding: 0px 15px;
            display: flex;
            flex-direction: column;
            gap:5px;
    
            .textInput-div {
                display: grid;
                grid-template-columns: 1fr 2.8fr;
                gap: 5px;
                textarea {
                    &:not(last-child) {min-height: 64px !important;}
                    // &:last-child {min-height: 32px !important;}
                }
            }
    
            .rangeInput-div {
                display: grid;
                grid-template-columns: 1fr 2fr 1fr;
                align-items: center;
                gap: 5px;
    
                input {text-align: center;}
            }
    
            .selectorInput-div {
                display: grid;
                grid-template-columns: 1fr 3fr 2fr;
                align-items: center;
                gap: 5px;
            }
    
            .switchInput-div {
                display: grid;
                grid-template-columns: 1.5fr 1fr;
                gap: 5px;
            }
        }
        
        #generationDisplay-div {
            
            .imageDisplay-div {
                display: inline-block;
                position: relative;
                width: 100%;

                // min-height: 512px;
                // min-width: 100%;
                border: solid black 3px;
                background-color: bisque;
    
                display: flex;
                align-items: center;
                justify-content: center;

                .carousel, .slide {
                    // https://jsfiddle.net/B8FU8/2441/
                    position: absolute;
                    // top: 0;
                    // bottom: 0;
                    // left: 0;
                    // right: 0;
                    
                    .carousel-inner{
                        .carousel-item {
                            img {
                                width: 100%;
                                position: relative;
                                object-position: center;
                                object-fit: scale-down;
                            }
                        }
                    }
                }

                #statusDisplay-div {
                    text-align: center;
                    p {
                        margin: 0.5rem
                    }
                }
            }
            .imageDisplay-div:after {
                content: '';
                display: block;
                margin-top:100%;
            }

    
            .controlDisplay-div {
                margin: 5px 0;

                button {
                    width: 100%;
                    font-size: large;
                }
            }
        }
    }    
}

@media screen and (min-width:1000px) {
    #root {
        max-width: 1024px;
        #mainContent-section {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
}

